@import url('/css/reset.css');
@import url('/css/header.css');
@import url('/css/first_quadrant.css');
@import url('/css/second_quadrant.css');
@import url('/css/third_quadrant.css');
@import url('/css/foutth_quadrant.css');
@import url('/css/cont_center.css');
@import url('/css/footer.css');

/* 사이트 기본글꼴 호출 */
@font-face {
  font-family: 'NanumSquareRound';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

/* ---------------------전역속성 시작 -----------------*/
html {
  margin: 0;
  padding: 0;
  color: #444;
  line-height: 1.5;
  vertical-align: baseline;
  font-size: 10px;
}
body * {
  text-align: center;
  font-family: 'NanumSquareRound';
  font-weight: 400;
}
/* ------------------전역속성 끝 -----------------*/

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* ------------mainteam 공통적용속성 ----------------*/
#wrap {
  background: #dae9f5;
  text-align: center;
  margin: auto;
  overflow: hidden;
  width: 100%;
}

#mainwrap {
  display: flex;
  margin: 7rem auto -0.7rem;
  padding-bottom: 23rem;
  overflow: visible;
  position: relative;
  width: 1500px;
}
#mainwrap {
  background: #dae9f5;
  text-align: center;
  justify-content: space-between;
}

#mainwrap::before {
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 200%;
  height: 100%;
  background: url(../images/main_img/bg.jpg) no-repeat center bottom;
  transform: translateX(-50%);
  content: '';
}
#cont_left {
  position: relative;
  width: 510px;
}