/*Reset.CSS적용*/
@import url('./reset.css');
/* header css 파일 호출 */

/* main css파일 호출 */
@import url('/main.css/first_quadrant.css'); /* 은미 */
@import url('/main.css/second_quadrant.css'); /* 주영 */
@import url('/main.css/third_quadrant.css'); /* 민재 */
@import url('/main.css/foutth_quadrant.css'); /* 준영 */
@import url('/main.css/cont_center.css');

/* footer css js 파일 호출 */
@import url('/footer.css/acs_footer.css');

/* 사이트 기본글꼴 호출 */
@font-face {
  font-family: 'NanumSquareRound';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

/* ---------------------전역속성 시작 -----------------*/
html {
  margin: 0;
  padding: 0;
  color: #444;
  line-height: 1.5;
  vertical-align: baseline;
  font-size: 10px;
}
body * {
  /* 가운데정렬 */
  text-align: center;
  /* /가운데정렬 */

  /* 전역글꼴 */
  font-family: 'NanumSquareRound';
  font-weight: 400;
  /* /전역글꼴 */
}
/* ------------------전역속성 끝 -----------------*/

.ellipsis {
  /* 말줄임표 코딩 */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* ------------mainteam 공통적용속성 ----------------*/
#wrap {
  background: #dae9f5;
  text-align: center;
  margin: auto;
  overflow: hidden;
}
/* #wrap = 절주온 사이트 전체를 감싸는 막 */
/* wrap하위로 헤더팀, 푸터팀 html코딩이 들어올듯? */
#mainwrap {
  display: flex;
  margin: 17.5rem auto -0.7rem;
  padding-bottom: 23rem;
  overflow: visible;
  position: relative;
  width: 1500px;
}
#mainwrap {
  background: #dae9f5;
  text-align: center;
  justify-content: space-between;
}
/* #mainwrap = 절주온 사이트중 메인영역을 덮는 막 */
/* mainwrap하위로 main팀 팀원4명의 html이 들어올듯? */

/* mainwrap 배경화면 이미지 */
#mainwrap::before {
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 200%;
  height: 100%;
  background: url(/main_img/bg.jpg) no-repeat center bottom;
  transform: translateX(-50%);
  content: '';
}
#cont_left {
  position: relative;
  width: 510px; /* 화면을 따라 작아지려면 calc나 %써야할듯 */
}
/* cont_left = 주영, 민재의 html코드가 하위로 들어오는 모체 */
