/* 1사분면&2사분면 공통속성 시작*/
.sec1 {
  height: 420px;
  margin-bottom: 17px;
  background-color: #fff;
  padding: 3.5rem;
  box-sizing: border-box;
  border-radius: 20px;
  overflow: hidden;
}
.sec1 a:hover {
  text-decoration: underline;
}
#cont_left,
#cont_left * {
  /* font-family: 'NanumSquareRound';   */
}
/* 1사분면&2사분면 공통속성 끝*/

/* 제목:최신자료 시작 */
.subject .icon {
  display: inline-block;
  width: 48px;
  height: 54px;
  margin-right: 15px;
  vertical-align: middle;
  background-image: url(/main_img/red_comma.png);
}
.h2 {
  display: block;
  line-height: 1.1;
}
.subject {
  margin-bottom: 20px;
  box-sizing: border-box;
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 1.1;
}
/* 제목:최신자료 끝 */

/* 카테고리:4개박스 시작*/
.datalist {
  display: flex;
  flex-flow: row wrap; /* 4개의 박스를 외곽박스안에 담아주되, 가로방향(row)으로 채움 */
}
.datalist > li {
  width: 50%;
  padding: 1%;
  box-sizing: border-box;
  overflow: hidden;
  list-style: none;
}
.datalist .category {
  margin-bottom: 1.4rem;
  color: #69758e;
  font-size: 1.5rem;
}
.datalist > li > a {
  position: relative;
  display: block;
  padding: 2.5rem 1.8rem 2.1rem;
  border-radius: 18px;
  border: 1px solid #ddd;
}

.datalist > li span {
  display: block;
  line-height: 1.1;
}

/* 하이퍼링크 꾸밈 지우기 */
a {
  color: #464646;
  text-decoration: none;
}
/* 하이퍼링크 꾸밈 지우기 */

.datalist .titl {
  display: block;
  margin-bottom: 1.9rem;
  letter-spacing: -0.05em;
  font-size: 1.7rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.datalist .date {
  color: #8d8d8d;
  font-size: 1.4rem;
}
/* 카테고리:4개박스 끝 */
