@font-face {
  font-family: 'NanumSquareRound';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gosanja';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/Gosanja.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

footer {
  margin: 0;
  width: 100%;
  padding-bottom: 5rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer_border_wrap {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  border: 1px solid lightgray;
}
.footer_link {
  width: 1500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  border-width: 0 0 1px 0;
  font-size: 1.4rem;
  padding-top: 7px;
}
.footer_link > * {
  height: 100%;
}
.fsidemenu {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-left: 2rem;
}
.fsidemenu > li {
  list-style: none;
}
.fsidemenu > li a {
  color: gray;
}
.fsidemenu > p {
  color: lightgray;
}
.fsidemenu > li a:hover {
  text-decoration: underline;
}

.fsidemenu li:first-child a {
  color: tomato;
  font-weight: bold;
}
.triangle {
  font-size: 0.9rem;
  padding-left: 2.5rem;
}
.family_site {
  position: relative;
  border: 1px solid lightgray;
  border-width: 0 1px;
  background-color: white;
  padding: 0 1.2rem 0 1.4rem;
  /* 폰트 임시 적용. 메인에서 다른 폰트 적용 시, 변경.*/
  font-family: 'gosanja', sans-serif;
  font-size: 1.5rem;
  cursor: pointer;
  color: rgb(60, 60, 60);
}
.family_site_list {
  position: absolute;
  z-index: 1000;
  bottom: 100%;
  background-color: white;
  border: 1px solid lightgray;
  width: 100%;
  left: -1px;
  padding: 6% 0;
  display: none;
}
.family_site_list > li {
  text-align: left;
  font-size: 1.3rem;
  padding: 3% 2% 4% 5%;
}
.family_site_list > li > a {
  color: gray;
}

.footer_info {
  width: 1500px;
  padding-top: 3rem;
  display: flex;
  align-items: center;
}
.foot_address {
  display: flex;
  flex-direction: column;
  color: gray;
  padding: 10px 0 0 16px;
}
.foot_address > address {
  font-style: normal;
  font-size: 1.5rem;
}
.foot_address > p {
  margin-top: 0.8rem;
  font-size: 1.2rem;
  display: flex;
}

.footer_info {
  position: relative;
}
.footer_info > * {
  display: inline;
}
.footer_info > img:first-child {
  padding-left: 1%;
}
.footer_info > img {
  padding-right: 10px;
  max-height: fit-content;
}
.footer_info > img:last-child {
  width: 5rem;
}
#wa_mark {
  position: absolute;
  right: 0;
  width: 100px;
}
